SUPABASE_URL=https:https://ftppbncvrkygiuladcbx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0cHBibmN2cmt5Z2l1bGFkY2J4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzkyNTg4OSwiZXhwIjoyMTAzNTAxODg5fQ.1sQdHVI4ScRDh4h7aPYePZAXt2FLdBcn8RC6TBMdXkQ
SECRET_NONCE=miNonceSecreto123
